.super-mario {
    width: 200px;
    position: absolute;
    

  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top:350px;
    left: 710px;
  }
  
  .baloon {
    position: absolute;
    top: 245px;
    left: 380px;

  
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    top:280px;
    left: 400px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 400px ;
  
  }